@using JustForFun.Web.ToolKits

<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item @RazorHelper.SideNavHighlight(ViewContext, "Index")">
                <a asp-controller="NeteaseMusicShuffle" asp-action="Index">总览</a>
            </li>
            <li class="layui-nav-item @RazorHelper.SideNavHighlight(ViewContext, "TraditionalAlgorithm")">
                <a asp-controller="NeteaseMusicShuffle" asp-action="TraditionalAlgorithm">常规算法</a>
            </li>

            <li class="layui-nav-item @RazorHelper.SideNavHighlight(ViewContext, "MoreFirstAlgorithm")">
                <a asp-controller="NeteaseMusicShuffle" asp-action="MoreFirstAlgorithm">多次优先算法</a>
            </li>
            <li class="layui-nav-item @RazorHelper.SideNavHighlight(ViewContext, "LessFirstAlgorithm")">
                <a asp-controller="NeteaseMusicShuffle" asp-action="LessFirstAlgorithm">少次优先算法</a>
            </li>
        </ul>
    </div>
</div>